/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/QA_Automation_Desktop_Spotify_Appium.iml
/.idea/workspace.xml
/appium_tests/__pycache__/__init__.cpython-37.pyc
/reports_stable/*.xml
/reports_stable/*.html
/reports/*.xml
/reports/*.html
/.idea/vcs.xml
